.item-card{
    width:333px
}

.item-title{
    font-size: 18pt;
}

.item-description{
    font-size: 12pt;
}

.item-dates{
    font-size: 12pt;
}
.item-price{
    font-size: 14pt;
}
.item-image{

}
.item-followers{
    font-size: 20pt;
}

.vacations-list{

}
.vacation-item{
margin: 20px;
}